{% extends "base.html" %} <!-- uses base.html as a template to build the current page with the use of blocks -->
{% block title %}ZilloWirral | Articles{% endblock %} <!-- Tells flask that the block to add content in has ended -->

{% block link %}
    <link href="/static/css/iframe-media.css" rel="stylesheet" type="text/css"> <!-- Loads in the iframe media css -->
{% endblock %} <!-- Tells flask that the block to add content in has ended -->

{% block sidebar_icon1 %} <!-- will be inserted into the corrosponding same named block within base.html -->
    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="var(--2-clr)" class="bi bi-list-task" viewBox="1 0 16 16">
        <path fill-rule="evenodd" d="M2 2.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5V3a.5.5 0 0 0-.5-.5H2zM3 3H2v1h1V3z"/>
        <path d="M5 3.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM5.5 7a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1h-9zm0 4a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1h-9z"/>
        <path fill-rule="evenodd" d="M1.5 7a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H2a.5.5 0 0 1-.5-.5V7zM2 7h1v1H2V7zm0 3.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5H2zm1 .5H2v1h1v-1z"/>
    </svg>
{% endblock %} <!-- Tells flask that the block to add content in has ended -->

{% block cover_picture %}
    <div class="view-image-container card-img" style="background-image: url('../../static/assets/article_covers/{{ article.id }}.webp');"></div>
{% endblock %} <!-- Tells flask that the block to add content in has ended -->

{% block cover_text %}{{ article.title }}{% endblock %} <!-- Tells flask that the block to add content in has ended -->

{% block content %} <!-- Inserts content within the base html template with the same block name -->
    <div class="fs-5 text-center ">
        by {{ writer.firstname }} {{ writer.lastname }}
        <hr class="mx-auto" size="2px" style="width:35%;"></hr> <!-- hr creates a line with the size of 2px that floats to the right -->
        <div class="row row-col mx-auto" style="width:25%;">
            {% if writer.twitterid != '' %}
                <div class="col mx-auto"><a class="link-dark" href="https://twitter.com/{{ writer.twitterid }}"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"></svg></a></div> <!-- the href="#" should be changed to the appropriate social media link -->
            {% endif %}
            {% if writer.instagramid != '' %}
                <div class="col mx-auto"><a class="link-dark" href="https://www.instagram.com/{{ writer.instagramid }}"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></svg></a></div> <!-- the href="#" should be changed to the appropriate social media link -->
            {% endif %}
            {% if writer.facebookid != '' %}
                <div class="col mx-auto"><a class="link-dark" href="https://www.facebook.com/{{ writer.facebookid }}"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></svg></a></div> <!-- the href="#" should be changed to the appropriate social media link -->
            {% endif %}
        </div>
    </div>
    <div class="fs-4" style="margin: 0 10vw 5rem 10vw;">
        {% for segment in article.content.split("\r\n\r") %}
            {% if "<embedyt>" in segment %}
                <br> {{ segment.split("<embedyt>")[0] }} <br> <br>
                <div class="text-center">
                    <iframe
                    width="700" 
                    height="400" 
                    src="https://www.youtube.com/embed/{{ article.youtube_embed_link }}" 
                    title="YouTube video player" 
                    frameborder="0" 
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                    allowfullscreen>
                    </iframe>
                </div>
                <br> {{ segment.split("<embedyt>")[1] }} <br>
            {% else %}
                <br> {{ segment }} <br>
            {% endif %}
        {% endfor %}
    </div>
    <div class="row fs-5 fw-bold" style="margin: 0 10vw 3rem 10vw;">
        <div class="col">
            <a class="text-decoration-none float-start" {% if article.id - 1 > 0 %}href="/articles/article-view/{{ article.id - 1 }}"{% endif %}> <!-- creates a hyperlinked svg image / icon that has an if statement to check if its on the first article and if so do not hyperlink it to the previous article -->
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-caret-left-fill" viewBox="0 0 16 18">
                    <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
                </svg>
                Previous article
            </a>
        </div>
        <div class="col">
            <a class="text-decoration-none float-end" {% if max_article - article.id > 0 %}href="/articles/article-view/{{ article.id + 1 }}{% endif %}"> <!-- creates a hyperlinked svg image / icon that has an if statement to check if it can go to the next article without going over the max articles -->
                Next article
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 18">
                    <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                </svg>
            </a>
        </div>
    </div>
{% endblock %} <!-- Tells flask that the block to add content in has ended -->