{% extends "/support/support-base.html" %} <!-- uses /support/support-base.html as a template to build the current page with the use of blocks -->
{% block title %}ZilloWirral | Support Home{% endblock %} <!-- Tells flask that the block to add content in has ended -->

{% block cover_picture %}
  <div class="view-image-container card-img" style="background-image: url('../../static/assets/page_covers/support/home.webp');"></div>
{% endblock %}

{% block cover_text %}Support{% endblock %} <!-- Tells flask that the block to add content in has ended -->

{% block content %} <!-- Inserts content within the base html template with the same block name -->
  <div class="mb-5 fs-1 fw-bold text-center">
    Seeking Help?
  </div>

  <div class="row" style="margin: 0 10vw 0 10vw;">
    <div class="col-lg-6">
      <div class="pb-5 lead fs-4">
        As a site for young people, we're also committed to helping and 
        supplying as much resources as possible for anyone to reflect and 
        possibly seek help from professionals, we understand that not all 
        wounds are physical nor the same, clicking on the sidebar will 
        pop up a menu redirecting you to possible subjects you may find 
        interest within.
        <br>
        <br>
        Remember your not alone and there are multiple people beside you 
        with the same experiences as you and that it doesn't invalidate 
        your experiences anymore then theirs.
      </div>
    </div>
    <div class="col-lg-6">
      <div class="text-center">
        <iframe 
        width="560" 
        height="315" 
        src="https://www.youtube.com/embed/C0DPdy98e4c" 
        title="YouTube video player" 
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen>
        </iframe>
      </div>
    </div>
  </div>

  <div>
    <hr class="mx-auto m-5" size="2px" style="width:50%;"></hr>
  </div>

  <div class="row mb-5 g-3" style="margin: 0 10vw 0 10vw;">

    <div class="col-lg my-auto">
      <div class="mb-3 fs-2 fw-bold text-center">
        See Someone Needing Help?
      </div>
      <div class="pb-5 mx-auto lead fs-4">
        If you see someone going through a rough patch within life 
        go and talk to them, be that reaching hand to help them out, 
        you'd be surprised how much a talk can help out one's situation.
      </div>
      <div class="mb-3 fs-2 fw-bold text-center">
        Remember To Understand Boundaries!
      </div>
      <div class="pb-5 mx-auto lead fs-4">
        Always extend a helping hand but remember to not over extend to 
        where others are not comfortable with, some topics can be hard 
        to talk about so when helping others remember to take your time 
        with it. 
      </div>
      <div class="mb-3 fs-2 fw-bold text-center">
        Need Help Yourself?
      </div>
      <div class="pb-5 mx-auto lead fs-4">
        If you need help you can find the appropriate page and it'll 
        point you to the appropriate resources and contacts for you to 
        get further help.
      </div>

    </div>

    <div class="col-lg my-auto">

      <div class="mb-3 fs-2 fw-bold text-center">
        Just A Disclaimer
      </div>
      <div class="pb-5 mx-auto lead fs-4">
        Even though we're not experts within the topics we may cover 
        we have gone to the greatest lengths to make sure all 
        information is correct, well cited, and that all contacts 
        shown are correctly linked and are well accredited for, if you 
        need even further help please seek professional help as a 
        website with bullet points isn't enough to diagnose you.
      </div>

    </div>

  </div>
{% endblock %} <!-- Tells flask that the block to add content in has ended -->