{% extends "/support/support-base.html" %} <!-- uses /support/support-base.html as a template to build the current page with the use of blocks -->
{% block title %}ZilloWirral | Support Home{% endblock %} <!-- Tells flask that the block to add content in has ended -->

{% block cover_picture %}
  <div class="view-image-container card-img" style="background-image: url('../../static/assets/page_covers/support/home.webp');"></div>
{% endblock %}

{% block cover_text %}Support{% endblock %} <!-- Tells flask that the block to add content in has ended -->

{% block content %} <!-- Inserts content within the base html template with the same block name -->
  <div class="mb-5 fs-1 fw-bold text-center">
    Seeking Help?
  </div>

  <div class="row" style="margin: 0 10vw 0 10vw;">
    <div class="col-lg">
      <div class="pb-5 lead fs-4">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
        sed do eiusmod tempor incididunt ut labore et dolore magna 
        aliqua. Cursus eget nunc scelerisque viverra mauris in 
        aliquam sem, ipsum dolor sit amet, consectetur adipiscing elit, 
        sed do eiusmod tempor incididunt ut labore et dolore magna 
        aliqua. Cursus eget nunc scelerisque viverra mauris in 
        aliquam sem. Cursus eget nunc scelerisque viverra mauris in 
        aliquam sem, ipsum dolor sit amet, consectetur adipiscing elit, 
        sed do eiusmod tempor incididunt ut labore et dolore magna 
        aliqua. Cursus eget nunc scelerisque viverra mauris in 
        aliquam sem.
      </div>
    </div>
    <div class="col-lg">
      <div class="text-center">
        <iframe 
        width="560" 
        height="315" 
        src="https://www.youtube.com/embed/C0DPdy98e4c" 
        title="YouTube video player" 
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen>
        </iframe>
      </div>
    </div>
  </div>

  <div style="width:100%;">
    <hr class="mx-auto m-5" size="2px" style="width:50%;"></hr>
  </div>

  <div class="row mb-5 g-3" style="margin: 0 10vw 0 10vw;">

    <div class="col-lg my-auto">
      <div class="mb-3 fs-2 fw-bold text-center">
        Lorem ipsum dolor sit
      </div>
      <div class="pb-5 mx-auto lead fs-4" style="width:40rem;">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
        sed do eiusmod tempor incididunt ut labore et dolore magna 
        aliqua.
      </div>
      <div class="mb-3 fs-2 fw-bold text-center">
        Lorem ipsum dolor sit
      </div>
      <div class="pb-5 mx-auto lead fs-4" style="width:40rem;">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
        sed do eiusmod tempor incididunt ut labore et dolore magna 
        aliqua.
      </div>
      <div class="mb-3 fs-2 fw-bold text-center">
        Lorem ipsum dolor sit
      </div>
      <div class="pb-5 mx-auto lead fs-4" style="width:40rem;">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
        sed do eiusmod tempor incididunt ut labore et dolore magna 
        aliqua.
      </div>

    </div>

    <div class="col-lg">

      <div class="mb-3 fs-2 fw-bold text-center">
        Lorem ipsum dolor sit
      </div>
      <div class="pb-5 mx-auto lead fs-4" style="width:40rem;">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
        eiusmod tempor incididunt ut labore et dolore magna aliqua. Nisl 
        pretium fusce id velit ut tortor. Pellentesque massa placerat 
        duis ultricies lacus. Lobortis scelerisque fermentum dui 
        faucibus in ornare quam viverra. Bibendum arcu vitae elementum 
        curabitur vitae nunc sed. Id nibh tortor id aliquet lectus proin 
        nibh nisl condimentum. Pharetra convallis posuere morbi leo urna 
        molestie. Tortor aliquam nulla facilisi cras fermentum odio eu 
        feugiat. Eu tincidunt tortor aliquam nulla facilisi cras 
        fermentum odio. Libero enim sed faucibus turpis in. Sit amet 
        aliquam id diam maecenas ultricies mi eget mauris. Accumsan 
        tortor posuere ac ut consequat semper viverra nam libero. Odio 
        pellentesque diam volutpat commodo sed egestas egestas fringilla.
      </div>

    </div>

  </div>
{% endblock %} <!-- Tells flask that the block to add content in has ended -->