a:hover {
    color: var(--2-clr) !important;
}

a:active {
    color: var(--3-clr) !important;
}

a {
    color: var(--3-clr) !important;
}

/** this css is dedicated to global changes within the website 
so far its dedicated to chaning the html colour when, hovering, 
clicked, and inactive, !important forces changes irriguardless of
style priority **/