a:hover {
    color: var(--2-clr) !important;
}

a:active {
    color: var(--3-clr) !important;
}

a {
    color: var(--3-clr) !important;
}

/** this css is dedicated to global changes within the website 
so far its dedicated to chaning the html colour when, hovering, 
clicked, and inactive, !important forces changes irriguardless of
style priority **/

.view-image-container {
    width: 100%;
    height: 32rem;
    background-size: cover;
    background-position: center;
}

.gridview-image-container {
    width: 100%;
    height: 22rem;
    background-size: cover;
    background-position: center;
}

.cover-title {
    font-size: 4rem;
}

@media only screen and (max-width: 992px) {
    .gridview-image-container {
        height: 32.5vw;
    }
    .cover-title {
        font-size: 3rem;
    }
}

@media only screen and (max-width: 768px) {
    .cover-title {
        font-size: 2rem;
    }
}

/** this changes any differently aspect ratio sized image to a 
aspect ratio near 3.5:1 (maybe 0-2px off)**/