:root {
    --1-clr: #b2dbcc;
    --2-clr: #222e50;
    --3-clr: #007991;
    --4-clr: #fec601;
    --5-clr: #ea7317;
}

/** creates colour variables that can be easily changed 
later for colour scheme changes or theme changes these can be 
called by var(--x-clr) within html **/