{% extends "base.html" %} <!-- uses base.html as a template to build the current page with the use of blocks -->
{% block title %}ZilloWirral | DB Maker{% endblock %} <!-- Tells flask that the block to add content in has ended -->

{% block sidebar_icon1 %} <!-- will be inserted into the corrosponding same named block within base.html -->
  <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="var(--2-clr)" class="bi bi-house-heart" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.707L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.646a.5.5 0 0 0 .708-.707L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5ZM13 7.207l-5-5-5 5V13.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7.207Zm-5-.225C9.664 5.309 13.825 8.236 8 12 2.175 8.236 6.336 5.309 8 6.982Z"/>
  </svg>
{% endblock %} <!-- Tells flask that the block to add content in has ended -->

{% block sidebar_icon2 %} <!-- will be inserted into the corrosponding same named block within base.html -->
  <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="var(--2-clr)" class="bi bi-journal" viewBox="0 0 16 16">
    <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z"/>
    <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z"/>
  </svg>
{% endblock %} <!-- Tells flask that the block to add content in has ended -->

<!-- {% block cover_text %}Welcome to Zillo!{% endblock %} <!-- Tells flask that the block to add content in has ended --> -->

{% block content %} <!-- Inserts content within the base html template with the same block name -->
<div class="p-2" style="width:100%;">
    
  <h2>Subscription Manager</h2>

  <form method="POST">
    <input type="hidden" name="form-name" value="remove-subscriber">
    <label for="subscriberid" class="form-label">Subscriber ID*</label>
    <div class="input-group mb-3">
      <input type="number" id="subscriberid" name="subscriberid" class="form-control" placeholder="Subscriber ID" aria-label="Subscriber ID">
    </div>
    
    <div class="col-auto">
      <button type="submit" class="btn btn-danger mb-3">Remove</button>
    </div>
  </form>

</div>

  <div class="p-2" style="width:100%;">
    
    <h2>Writer Manager</h2>

    <form method="POST" enctype="multipart/form-data">
      <input type="hidden" name="form-name" value="add-writer">
      <label for="firstname" class="form-label">Writer's fullname*</label>
      <div class="input-group mb-3">
        <input type="text" id="firstname" name="firstname" class="form-control" placeholder="Firstname" aria-label="Firstname">
        <input type="text" id="lastname" name="lastname" class="form-control" placeholder="Lastname" aria-label="Lastname">
      </div>

      <label for="pictureurl" class="form-label">Image Upload (16mb max upload)</label>
      <div class="input-group mb-3">
        <input type="file" id="fileupload" name="fileupload" class="form-control">
      </div>

      <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-3">Add</button>
      </div>
    </form>

    <form method="POST">
      <input type="hidden" name="form-name" value="remove-writer">
      <label for="writerid" class="form-label">Writer ID*</label>
      <div class="input-group mb-3">
        <input type="number" id="writerid" name="writerid" class="form-control" placeholder="Writer ID" aria-label="Writer ID">
      </div>
      
      <div class="col-auto">
        <button type="submit" class="btn btn-danger mb-3">Remove</button>
      </div>
    </form>

  </div>

  <div class="p-2" style="width:100%;">

    <h2>Article Manager</h2>

    <form method="POST" enctype="multipart/form-data">
      <input type="hidden" name="form-name" value="add-article">
      <label for="writerid" class="form-label">Writer ID*</label>
      <div class="input-group mb-3">
        <input type="number" id="writerid" name="writerid" class="form-control" placeholder="Writer ID" aria-label="Writer ID">
      </div>

      <label for="formFile" class="form-label">Article Image Upload* (16mb max upload, pref aspect ratio 16:9)</label>
      <div class="input-group mb-3">
        <input type="file" id="fileupload" name="fileupload" class="form-control">
      </div>

      <label for="date" class="form-label">Date</label>
      <div class="input-group mb-3">
        <input type="date" id="date" name="date" class="form-control" placeholder="Date" aria-label="Date">
      </div>

      <label for="title" class="form-label">Title*</label>
      <div class="input-group mb-3">
        <input type="text" id="title" name="title" class="form-control" placeholder="Title" aria-label="Title">
      </div>
      
      <label for="description" class="form-label">Description</label>
      <div class="input-group mb-3">
        <textarea id="description" name="description" class="form-control" style="height: 7.5em;" placeholder="Description" aria-label="Description"></textarea>
      </div>

      <label for="content" class="form-label">Article Content*</label>
      <div class="input-group mb-3">
        <textarea id="content" name="content" class="form-control" style="height: 40em;" placeholder="Content" aria-label="Content"></textarea>
      </div>
      
      <label for="ytembed" class="form-label">Youtube Embed ID</label>
      <div class="input-group mb-3">
        <input type="text" id="ytembed" name="ytembed" class="form-control" placeholder="dQw4w9WgXcQ" aria-label="dQw4w9WgXcQ">
      </div>

      <div class="col-auto">
        <button type="submit" value="upload" class="btn btn-primary mb-3">Add</button>
      </div>
    </form>

    <form method="POST">
      <input type="hidden" name="form-name" value="remove-article">
      <label for="articleid" class="form-label">Article ID*</label>
      <div class="input-group mb-3">
        <input type="number" id="articleid" name="articleid" class="form-control" placeholder="Article ID" aria-label="Article ID">
      </div>
      
      <div class="col-auto">
        <button type="submit" class="btn btn-danger mb-3">Remove</button>
      </div>
    </form>

  <div class="p-2" style="width:100%;">

    <h2>Event Manager</h2>

    <form method="POST" enctype="multipart/form-data">
      <input type="hidden" name="form-name" value="add-event">

      <label for="title" class="form-label">Name*</label>
      <div class="input-group mb-3">
        <input type="text" id="name" name="name" class="form-control" placeholder="Name" aria-label="Name">
      </div>

      <label for="formFile" class="form-label">Event Image Upload* (16mb max upload, pref aspect ratio 16:9)</label>
      <div class="input-group mb-3">
        <input type="file" id="fileupload" name="fileupload" class="form-control">
      </div>
      
      <label for="description" class="form-label">Description*</label>
      <div class="input-group mb-3">
        <textarea id="description" name="description" class="form-control" style="height: 7.5em;" placeholder="Description" aria-label="Description"></textarea>
      </div>

      <label for="title" class="form-label">Address 1*</label>
      <div class="input-group mb-3">
        <input type="text" id="addr1" name="addr1" class="form-control" placeholder="Address 1" aria-label="Address 1">
      </div>

      <label for="title" class="form-label">Address 2</label>
      <div class="input-group mb-3">
        <input type="text" id="addr2" name="addr2" class="form-control" placeholder="Address 2" aria-label="Address 2">
      </div>

      <label for="title" class="form-label">City* and County</label>
      <div class="input-group mb-3">
        <input type="text" id="city" name="city" class="form-control" placeholder="City" aria-label="City">
        <input type="text" id="county" name="county" class="form-control" placeholder="County" aria-label="County">
      </div>

      <label for="country" class="form-label">Country*</label>
      <div class="input-group mb-3">
        <input type="text" id="country" name="country" class="form-control" placeholder="Country" aria-label="Country">
      </div>

      <label for="postcode" class="form-label">Postcode*</label>
      <div class="input-group mb-3">
        <input type="text" id="postcode" name="postcode" class="form-control" placeholder="Postcode" aria-label="Postcode">
      </div>

      <label for="date" class="form-label">Date Start*</label>
      <div class="input-group mb-3">
        <input type="date" id="datestart" name="datestart" class="form-control" placeholder="Date Start" aria-label="Date Start">
        <input type="time" id="timestart" name="timestart" class="form-control" placeholder="Time" aria-label="Time">
      </div>

      <label for="date" class="form-label">Date End*</label>
      <div class="input-group mb-3">
        <input type="date" id="dateend" name="dateend" class="form-control" placeholder="Date Start" aria-label="Date Start">
        <input type="time" id="timeend" name="timeend" class="form-control" placeholder="Time" aria-label="Time">
      </div>

      <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-3">Add</button>
      </div>
    </form>

    <form method="POST">
      <input type="hidden" name="form-name" value="remove-event">
      <label for="eventid" class="form-label">Event ID*</label>
      <div class="input-group mb-3">
        <input type="number" id="eventid" name="eventid" class="form-control" placeholder="Event ID" aria-label="Event ID">
      </div>
      
      <div class="col-auto">
        <button type="submit" class="btn btn-danger mb-3">Remove</button>
      </div>
    </form>

  <div class="p-2" style="width:100%;">

    <h2>Volunteer Manager</h2>

    <form method="POST" enctype="multipart/form-data">
      <input type="hidden" name="form-name" value="add-volunteer">

      <label for="title" class="form-label">Name*</label>
      <div class="input-group mb-3">
        <input type="text" id="name" name="name" class="form-control" placeholder="Name" aria-label="Name">
      </div>

      <label for="formFile" class="form-label">Volunteer Image Upload* (16mb max upload, pref aspect ratio 16:9)</label>
      <div class="input-group mb-3">
        <input type="file" id="fileupload" name="fileupload" class="form-control">
      </div>
      
      <label for="description" class="form-label">Description*</label>
      <div class="input-group mb-3">
        <textarea id="description" name="description" class="form-control" style="height: 7.5em;" placeholder="Description" aria-label="Description"></textarea>
      </div>

      <label for="title" class="form-label">Address 1*</label>
      <div class="input-group mb-3">
        <input type="text" id="addr1" name="addr1" class="form-control" placeholder="Address 1" aria-label="Address 1">
      </div>

      <label for="title" class="form-label">Address 2</label>
      <div class="input-group mb-3">
        <input type="text" id="addr2" name="addr2" class="form-control" placeholder="Address 2" aria-label="Address 2">
      </div>

      <label for="title" class="form-label">City* and County</label>
      <div class="input-group mb-3">
        <input type="text" id="city" name="city" class="form-control" placeholder="City" aria-label="City">
        <input type="text" id="county" name="county" class="form-control" placeholder="County" aria-label="County">
      </div>

      <label for="country" class="form-label">Country*</label>
      <div class="input-group mb-3">
        <input type="text" id="country" name="country" class="form-control" placeholder="Country" aria-label="Country">
      </div>

      <label for="postcode" class="form-label">Postcode*</label>
      <div class="input-group mb-3">
        <input type="text" id="postcode" name="postcode" class="form-control" placeholder="Postcode" aria-label="Postcode">
      </div>

      <label for="date" class="form-label">Date Start*</label>
      <div class="input-group mb-3">
        <input type="date" id="datestart" name="datestart" class="form-control" placeholder="Date Start" aria-label="Date Start">
        <input type="time" id="timestart" name="timestart" class="form-control" placeholder="Time" aria-label="Time">
      </div>

      <label for="date" class="form-label">Date End*</label>
      <div class="input-group mb-3">
        <input type="date" id="dateend" name="dateend" class="form-control" placeholder="Date Start" aria-label="Date Start">
        <input type="time" id="timeend" name="timeend" class="form-control" placeholder="Time" aria-label="Time">
      </div>

      <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-3">Add</button>
      </div>
    </form>

    <form method="POST">
      <input type="hidden" name="form-name" value="remove-volunteer">
      <label for="volunteerid" class="form-label">Volunteer ID*</label>
      <div class="input-group mb-3">
        <input type="number" id="volunteerid" name="volunteerid" class="form-control" placeholder="Volunteer ID" aria-label="Volunteer ID">
      </div>
      
      <div class="col-auto">
        <button type="submit" class="btn btn-danger mb-3">Remove</button>
      </div>
    </form>

  </div>


{% endblock %} <!-- Tells flask that the block to add content in has ended -->