{% extends "base.html" %}
{% block title %}ZilloWirral | DB Viewer{% endblock %}

{% block sidebar_icon1 %}
  <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="var(--2-clr)" class="bi bi-house-heart" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.707L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.646a.5.5 0 0 0 .708-.707L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5ZM13 7.207l-5-5-5 5V13.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7.207Zm-5-.225C9.664 5.309 13.825 8.236 8 12 2.175 8.236 6.336 5.309 8 6.982Z"/>
  </svg>
{% endblock %}

{% block sidebar_icon2 %}
  <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="var(--2-clr)" class="bi bi-journal" viewBox="0 0 16 16">
    <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z"/>
    <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z"/>
  </svg>
{% endblock %}

<!-- {% block cover_text %}Welcome to Zillo!{% endblock %} -->

{% block content %}
  <div class="p-2" style="width:100%;">
    
    <h2>Subscribers</h2>

    <div class="container my-5">

      <div class="row">
        <div class="col-1 border">
          ID
        </div>
        <div class="col-8 border">
          Email
        </div>
        <div class="col-3 border">
          Date Joined
        </div>
      </div>

      {% for subscriber in subscribers %}
        <div class="row">
          <div class="col-1 border">
            {{ subscriber.id }}
          </div>
          <div class="col-8 border">
            {{ subscriber.email }}
          </div>
          <div class="col-3 border">
            {{ subscriber.datetime_joined }}
          </div>
        </div>
      {% endfor %}

    </div>

  </div>

  <div class="p-2" style="width:100%;">
    
    <h2>Writers</h2>

    <div class="container my-5">

      <div class="row">
        <div class="col-1 border">
          ID
        </div>
        <div class="col-2 border">
          Firstname
        </div>
        <div class="col-2 border">
          Lastname
        </div>
        <div class="col-2 border">
          Picture Link
        </div>
        <div class="col-3 border">
          Articles Linked
        </div>
        <div class="col-2 border">
          Date Joined
        </div>
      </div>

      {% for writer in writers %}
        <div class="row">
          <div class="col-1 border">
            {{ writer.id }}
          </div>
          <div class="col-2 border">
            {{ writer.firstname }}
          </div>
          <div class="col-2 border">
            {{ writer.lastname }}
          </div>
          <div class="col-2 border">
            {{ writer.picture_link }}
          </div>
          <div class="col-3 border">
            {{ writer.articles }}
          </div>
          <div class="col-2 border">
            {{ writer.datetime_joined }}
          </div>
        </div>
      {% endfor %}

    </div>

  </div>

  <div class="p-2" style="width:100%;">

    <h2>Articles</h2>

    <div class="container my-5">

      <div class="row">
        <div class="col-1 border">
          ID
        </div>
        <div class="col-1 border">
          Date Posted
        </div>
        <div class="col-1 border">
          Date Created
        </div>
        <div class="col-2 border">
          Title
        </div>
        <div class="col-2 border">
          Description
        </div>
        <div class="col-3 border">
          Content
        </div>
        <div class="col-1 border">
          YT Embed ID
        </div>
        <div class="col-1 border">
          Writers Linked
        </div>
      </div>

      {% for article in articles %}
        <div class="row">
          <div class="col-1 border">
            {{ article.id }}
          </div>
          <div class="col-1 border">
            {{ article.datetime_posted }}
          </div>
          <div class="col-1 border">
            {{ article.datetime_created }}
          </div>
          <div class="col-2 border">
            {{ article.title }}
          </div>
          <div class="col-2 border">
            {{ article.description }}
          </div>
          <div class="col-3 border">
            {{ article.content }}
          </div>
          <div class="col-1 border">
            {{ article.youtube_embed_link }}
          </div>
          <div class="col-1 border">
            {{ article.writer_id }}
          </div>
        </div>
      {% endfor %}

    </div>

  </div>

  <div class="p-2" style="width:100%;">

    <h2>Events</h2>

    <div class="container my-5">

      <div class="row">
        <div class="col-1 border">
          ID
        </div>
        <div class="col-1 border">
          Name
        </div>
        <div class="col-1 border">
          Description
        </div>
        <div class="col-1 border">
          Address1
        </div>
        <div class="col-1 border">
          Address2
        </div>
        <div class="col-1 border">
          City
        </div>
        <div class="col-1 border">
          County
        </div>
        <div class="col-1 border">
          Country
        </div>
        <div class="col-1 border">
          Postcode
        </div>
        <div class="col-1 border">
          Datetime End
        </div>
        <div class="col-1 border">
          Datetime Start
        </div>
        <div class="col-1 border">
          Datetime Posted
        </div>
      </div>

      {% for event in events %}
        <div class="row">
          <div class="col-1 border">
            {{ event.id }}
          </div>
          <div class="col-1 border">
            {{ event.name }}
          </div>
          <div class="col-1 border">
            {{ event.description }}
          </div>
          <div class="col-1 border">
            {{ event.address1 }}
          </div>
          <div class="col-1 border">
            {{ event.address2 }}
          </div>
          <div class="col-1 border">
            {{ event.city }}
          </div>
          <div class="col-1 border">
            {{ event.county }}
          </div>
          <div class="col-1 border">
            {{ event.country }}
          </div>
          <div class="col-1 border">
            {{ event.postcode }}
          </div>
          <div class="col-1 border">
            {{ event.datetime_end }}
          </div>
          <div class="col-1 border">
            {{ event.datetime_start }}
          </div>
          <div class="col-1 border">
            {{ event.datetime_posted }}
          </div>
        </div>
      {% endfor %}

    </div>

  </div>
{% endblock %}