{% extends "base.html" %} <!-- uses base.html as a template to build the current page with the use of blocks -->
{% block title %}ZilloWirral | Events{% endblock %} <!-- Tells flask that the block to add content in has ended -->

{% block sidebar_icon1 %} <!-- will be inserted into the corrosponding same named block within base.html -->
  <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="var(--2-clr)" class="bi bi-geo-alt" viewBox="0 0 16 16"> <!-- adds an svg image / icon, fill changes the colour to the corrosponding var which can be found within variables.css -->
    <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
    <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
  </svg>
{% endblock %} <!-- Tells flask that the block to add content in has ended -->

{% block sidebar_icon2 %} <!-- will be inserted into the corrosponding same named block within base.html -->
  <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="var(--2-clr)" class="bi bi-list-task" viewBox="1 0 16 16">
    <path fill-rule="evenodd" d="M2 2.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5V3a.5.5 0 0 0-.5-.5H2zM3 3H2v1h1V3z"/>
    <path d="M5 3.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM5.5 7a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1h-9zm0 4a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1h-9z"/>
    <path fill-rule="evenodd" d="M1.5 7a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H2a.5.5 0 0 1-.5-.5V7zM2 7h1v1H2V7zm0 3.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5H2zm1 .5H2v1h1v-1z"/>
  </svg>
{% endblock %} <!-- Tells flask that the block to add content in has ended -->

{% block cover_picture %} <!-- will be inserted into the corrosponding same named block within base.html -->
  <div class="view-image-container card-img" style="background-image: url('../../static/assets/page_covers/events_gridview.webp');"></div>
{% endblock %} <!-- Tells flask that the block to add content in has ended -->

{% block cover_text %}Join In On Events!{% endblock %} <!-- will be inserted into the corrosponding same named block within base.html -->

{% block content %} <!-- Inserts content within the base html template with the same block name -->
  <div class="my-5 w-100">

    {% if event_page == 1 %} <!-- checks if the event_page url variable is 1 and executes the code below if so -->
      <div class="mb-5 fs-1 fw-bold text-center"> <!-- mb-5 sets the bottom margin to 3rem, fs-1 sets the font size to h1, fw-bold sets the font weight to bold and text-center text aligns to the center -->
        Join in on activities and events!
      </div>
    {% endif %} <!-- ends the if statement -->

    {% for event in events[ event_page * 5 - 5: event_page * 5 - 1 ] %} <!-- creates a for loop for increments of 5 within the events database query passed though by view.py -->
      <div class="row mb-5 g-3 w-100"> <div class="row mb-5 g-3 w-100"> <!-- g-3 sets the margin next to other elements to 1rem, w-100 sets the width to 100% -->
        <div class="col-lg text-center"> <!-- col-lg changes the column size to 100% width when sized down from 992px -->
          <a class="nav-link" href="/events/event-view/{{ event.name.replace(' ','-') }}">
            <div class="gridview-image-container mx-auto rounded" style="background-image: url(../../static/assets/event_covers/{{ event.id }}.webp); width:70%;"></div> <!-- inserts the event image which corrosponds to the event id + .webp, and also rounded slightly rounds the image to be more appealing -->
          </a>
        </div>
        <div class="col-lg">
          <a class="nav-link" href="/events/event-view/{{ event.name.replace(' ','-') }}">
            <div class="mx-auto" style="width:80%"> <!-- mx-auto sets the left and right margin to equally take up any remaining x space -->
              <div class="row mb-4 fs-5 lead">
                <div class="col-lg-9"> <!-- resizes the div to 80% of the viewport -->
                  <div class="mb-3 fs-3 fw-bold" style="width:80%;"> <!-- resizes the div to 80% of the viewport -->
                    {{ event.name }} <!-- inserts event's name, event is gotten from the for loop and any thing that has event.something corrosponds to the item within the event dictionary -->
                  </div>
                  {% if event.description | length > 250 %} <!-- the "| length" function counts the length of the description of the event, this function is from flask / jinja -->
                      {{ event.description[0:249] + '...' }} <!-- python counts from 0 so its 250 in total -->
                  {% else %}
                      {{ event.description }}
                  {% endif %}
                </div>
                <div class="col-lg-3 text-center"> <!-- resizes the div to 20% of the viewport -->
                  <div class="mb-3 fs-3 fw-bold"> <!-- resizes the div to 20% of the viewport -->
                    Address
                  </div>
                  {{ event.address1 }}
                  <br>
                  {% if event.address2 != '' %} <!-- checks if theres a address2 within the event and puts it up if there is any -->
                    {{ event.address2 }}
                    <br>
                  {% endif %}
                  {{ event.city }}
                  <br>
                  {% if event.county != '' %} <!-- checks if theres a county within the event and puts it up if there is any -->
                    {{ event.county }}
                    <br>
                  {% endif %}
                  {{ event.country }}
                  <br>
                  {{ event.postcode }}
                </div>
              </div>
              <div class="lead fs-5"> <!-- sets font size to h5 -->
                Starts: {{ event.datetime_start }}
                Ends: {{ event.datetime_end }}
              </div>
            </div>
          </a>
        </div>
      </div>
    {% endfor %} <!-- ends for loop -->

    {% if events[event_page * 5] == Null %} <!-- checks if theres less then 5 events for the current page and if so executes the bottom -->
      <div class="my-5 fs-1 fw-bold text-center"> <!-- my-5 sets the top and bottom margin to 3rem, fs-1 sets the font size to h1, fw-bolds sets the font weight to bold and text-center sets the text-align to center -->
        Come Back Later When More Events Pop Up!
      <div>
    {% endif %}

    <div class="container my-5 text-center">
        
      <a class="m-2 text-decoration-none" {% if event_page - 1 > 0 %}href="/events/events-gridview/{{ event_page - 1 }}"{% endif %}> <!-- creates a hyperlinked svg image / icon that has an if statement to check if its on the first page and if so do not hyperlink it to the previous page -->
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-caret-left-fill" viewBox="0 2 16 18">
          <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
        </svg>
      </a>

      {% if event_page - 2 > 0 %} <!-- checks if the user can go back two event pages without going under 0 and if so create content below -->
        <a class="h3 m-2 text-decoration-none" href="/events/events-gridview/{{ event_page - 2 }}">{{ event_page - 2 }}</a> <!-- links to the previous 2 pages irriguardless of the current page -->
      {% endif %}
      {% if event_page - 1 > 0 %} <!-- checks if the user can go back one event pages without going under 0 and if so create content below -->
        <a class="h3 m-2 text-decoration-none" href="/events/events-gridview/{{ event_page - 1 }}">{{ event_page - 1 }}</a> <!-- links to the previous page irriguardless of the current page -->
      {% endif %}

      <a class="h3 m-2 text-decoration-none active" aria-current="page">{{ event_page }}</a> <!-- shows the current page -->

      {% if max_pages - event_page > 0 %} <!-- checks if the user can go forward one event pages without going over the max pages and if so create content below -->
        <a class="h3 m-2 text-decoration-none" href="/events/events-gridview/{{ event_page + 1 }}">{{ event_page + 1 }}</a> <!-- links to the next page irriguardless of the current page -->
      {% endif %}

      {% if max_pages - (event_page + 1) > 0 %} <!-- checks if the user can go forward two event pages without going over the max pages and if so create content below -->
        <a class="h3 m-2 text-decoration-none" href="/events/events-gridview/{{ event_page + 2 }}">{{ event_page + 2 }}</a> <!-- links to the next 2 pages irriguardless of the current page -->
      {% endif %}

      <a class="m-2 text-decoration-none" {% if max_pages - event_page > 0 %}href="/events/events-gridview/{{ event_page + 1 }}{% endif %}"> <!-- creates a hyperlinked svg image / icon that has an if statement to check if it can go to the next page without going over the max pages -->
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 2 16 18">
          <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
        </svg>
      </a>
    </div>
  </div>
{% endblock %} <!-- Tells flask that the block to add content in has ended -->