{% extends "base.html" %}
{% block title %}ZilloWirral | Article Maker{% endblock %}

{% block sidebar_icon1 %}
<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="var(--2-clr)" class="bi bi-house-heart" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.707L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.646a.5.5 0 0 0 .708-.707L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5ZM13 7.207l-5-5-5 5V13.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7.207Zm-5-.225C9.664 5.309 13.825 8.236 8 12 2.175 8.236 6.336 5.309 8 6.982Z"/>
</svg>
{% endblock %}

<!--
{% block sidebar_icon2 %}
<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="var(--2-clr)" class="bi bi-house-heart" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.707L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.646a.5.5 0 0 0 .708-.707L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5ZM13 7.207l-5-5-5 5V13.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7.207Zm-5-.225C9.664 5.309 13.825 8.236 8 12 2.175 8.236 6.336 5.309 8 6.982Z"/>
</svg>
{% endblock %}
-->

{% block content %}
<div class="p-2" style="width:100%;">
  
  <h2>Add Writer</h2>

  <label for="firstname" class="form-label">Writer's fullname*</label>
  <div class="input-group mb-3">
    <input type="text" id="firstname" class="form-control" placeholder="Firstname" aria-label="Firstname" aria-describedby="basic-addon1">
    <input type="text" id="lastname" class="form-control" placeholder="Lastname" aria-label="Lastname" aria-describedby="basic-addon2">
  </div>

  <label for="picureurl" class="form-label">Picure Url</label>
  <div class="input-group mb-3">
    <input type="text" id="picureurl" class="form-control" placeholder="Picure URL" aria-label="Picure URL" aria-describedby="basic-addon3">
  </div>

  <div class="col-auto">
    <button type="submit" class="btn btn-primary mb-3">Add</button>
  </div>

</div>

<div class="p-2" style="width:100%;">

  <h2>Add Article</h2>

  <label for="writerid" class="form-label">Writer ID*</label>
  <div class="input-group mb-3">
    <input type="number" id="writerid" class="form-control" placeholder="Writer ID" aria-label="Writer ID" aria-describedby="basic-addon4">
  </div>

  <label for="date" class="form-label">Date</label>
  <div class="input-group mb-3">
    <input type="date" id="date" class="form-control" placeholder="Date" aria-label="Date" aria-describedby="basic-addon5">
  </div>

  <label for="title" class="form-label">Title*</label>
  <div class="input-group mb-3">
    <input type="text" id="title" class="form-control" placeholder="Title" aria-label="Title" aria-describedby="basic-addon6">
  </div>
  
  <label for="description" class="form-label">Description</label>
  <div class="input-group mb-3">
    <textarea id="description" class="form-control" placeholder="Description" aria-label="Description" aria-describedby="basic-addon7"></textarea>
  </div>

  <label for="description" class="form-label">Article Content*</label>
  <div class="input-group mb-3">
    <textarea id="description" class="form-control" placeholder="Content" aria-label="Content" aria-describedby="basic-addon8"></textarea>
  </div>
  
  <label for="ytembed" class="form-label">Youtube Embed ID</label>
  <div class="input-group mb-3">
    <input type="text" id="ytembed" class="form-control" placeholder="dQw4w9WgXcQ" aria-label="dQw4w9WgXcQ" aria-describedby="basic-addon9">
  </div>

  <div class="col-auto">
    <button type="submit" class="btn btn-primary mb-3">Add</button>
  </div>
  
</div>
{% endblock %}