<!DOCTYPE html> <!-- Tells the browser what document it is -->

<html> <!-- Tells that the html code starts here -->

  <head> <!-- Tells the browser the metadata starts here -->

    <meta charset="utf-8" /> <!-- Tells the browser what charset it is in -->
    <meta name="viewport" content="width=device-width, initial-scale=1" /> <!-- Tells the browser what size should the site be viewed in -->
    <meta name="description" content="Here at Zillo we impower younger audiances to explore and report insteresting events and happenings around the Wirral Peninsula, Join us and help out empowering the community for younger people to enjoy."> <!--Gives the description to the search engine to dislpay-->
    <meta name="author" content="Cassis Texic / 30164968"> <!--Just a label to say who made the site-->
    <meta name="keywords" content="zillo, zillowirral, wirral, help, youth, test, test site"> <!--Keywords to help the website be found-->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" 
    rel="stylesheet" 
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" 
    crossorigin="anonymous"/> <!-- Loads in the bootstrap css -->


    <link href="/static/assets/Zilloicon2.ico" rel="shortcut icon"> <!-- Loads in the favicon and displays it -->
    <link href="/static/css/variables.css" rel="stylesheet" type="text/css"> <!-- Loads in the variables css -->
    <link href="/static/css/general.css" rel="stylesheet" type="text/css"> <!-- Loads in the general css -->
    {% block link %}{% endblock %} <!-- Tells flask that the block to add content in has ended -->

    <title>{% block title %}{% endblock %}</title> <!-- sets the title, the block allows for editing for other pages later -->

  </head> <!-- Tells the browser the metadata stops here -->
  <body> <!--Body starts here-->

    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;"> <!-- This entire svg tag just imports svg images from bootstrap icons -->
      <symbol id="facebook" viewBox="0 0 16 16"> <!-- dictates the id and size of the svg below is the svg paths -->
        <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"/>
      </symbol>
      <symbol id="instagram" viewBox="0 0 16 16">
          <path d="M8 0C5.829 0 5.556.01 4.703.048 3.85.088 3.269.222 2.76.42a3.917 3.917 0 0 0-1.417.923A3.927 3.927 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297.04.852.174 1.433.372 1.942.205.526.478.972.923 1.417.444.445.89.719 1.416.923.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.916 3.916 0 0 0 1.416-.923c.445-.445.718-.891.923-1.417.197-.509.332-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.926 3.926 0 0 0-.923-1.417A3.911 3.911 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01 10.172 0 7.998 0h.003zm-.717 1.442h.718c2.136 0 2.389.007 3.232.046.78.035 1.204.166 
          1.486.275.373.145.64.319.92.599.28.28.453.546.598.92.11.281.24.705.275 1.485.039.843.047 1.096.047 3.231s-.008 2.389-.047 3.232c-.035.78-.166 1.203-.275 1.485a2.47 2.47 0 0 1-.599.919c-.28.28-.546.453-.92.598-.28.11-.704.24-1.485.276-.843.038-1.096.047-3.232.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.478 2.478 0 0 1-.92-.598 2.48 2.48 0 0 1-.6-.92c-.109-.281-.24-.705-.275-1.485-.038-.843-.046-1.096-.046-3.233 0-2.136.008-2.388.046-3.231.036-.78.166-1.204.276-1.486.145-.373.319-.64.599-.92.28-.28.546-.453.92-.598.282-.11.705-.24 1.485-.276.738-.034 1.024-.044 2.515-.045v.002zm4.988 1.328a.96.96 0 1 0 0 1.92.96.96 0 0 0 0-1.92zm-4.27 1.122a4.109 4.109 0 1 0 0 8.217 4.109 4.109 0 0 0 0-8.217zm0 1.441a2.667 2.667 0 1 1 0 5.334 2.667 2.667 0 0 1 0-5.334z"/>
      </symbol>
      <symbol id="twitter" viewBox="0 0 16 16">
        <path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"/>
      </symbol>
      <symbol id="list" viewBox="0 0 16 16">
        <path d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
      </symbol>
    </svg> <!-- closes the svg tag -->
    <!-- svg's will be referenced by xlink:href within the svg tag-->

    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: var(--1-clr);">
      <div class="container-fluid"> <!-- div with a bootstrap container that items within are affected to be inline -->
        <div class="navbar-header mx-3"> <!-- the mx class sets a margin spacer -->
          <a class="navbar-brand" href="/"> <!-- navbar-brand will anchor the contents and float left them within a navbar container, the a tag will redirect users when an element within is clicked on to the href link -->
            <img src="/static/assets/ZilloLogo.webp" alt="Zillo logo" width="110" height="60"> <!-- inserts the zillologo -->
          </a> <!-- Ends the a tag -->
        </div>
        <button class="navbar-toggler m-2 mx-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-options" aria-controls="navbar-options" aria-expanded="false" aria-label="Toggle navigation"> <!-- data-bs-toggle and data-bs-target uses a javascript to change all collapse class divs to hide their content, aria declarations is used on interactive elements to be interactive with other aria declarations -->
          <div><svg width="32" height="32" fill="var(--2-clr)"><use xlink:href="#list"></svg></div> <!-- Just adds a svg with the height and width of 32 and the colour as 2-clr from variables.css image -->
        </button>
        <div class="collapse navbar-collapse" id="navbar-options"> <!-- collapse class tells any div to hide its content, practically also chaning the height to 0% -->
          <div class="navbar-nav text-center"> <!-- navbar-nav simpily slightly modifies the styles of the text within but also designates what div will be used by the javascript later -->
            <a class="nav-link h5 m-2 {% if current_page_num == 1 %}active" aria-current="page"{% else %}"{% endif %} href="/">Home</a> <!-- a tag means when clicking the items within it it will redirect you to whats within the href tag -->
            <a class="nav-link h5 m-2 {% if current_page_num == 2 %}active" aria-current="page"{% else %}"{% endif %} href="/articles/articles/1">Articles</a> <!-- anything within the curly brackets with percent signs will be executed as python code by flask here it is an if statement -->
            <a class="nav-link h5 m-2 {% if current_page_num == 3 %}active" aria-current="page"{% else %}"{% endif %} href="/events/events-gridview/1">Events</a> <!-- nav-link mostly acts as a decorator, the class h5 makes any text akin to the h5 element, m-2 increases the margin around the div / element -->
            <a class="nav-link h5 m-2 {% if current_page_num == 4 %}active" aria-current="page"{% else %}"{% endif %} href="/volunteer/volunteer-gridview/1">Volunteer</a> <!-- as a if statement was used, flask requires a endif in curlybrackets and percent signs area to close off the code affected by the statement -->
            <a class="nav-link h5 m-2 {% if current_page_num == 5 %}active" aria-current="page"{% else %}"{% endif %} href="/support/support-home">Support</a>
            <a class="nav-link h5 m-2 {% if current_page_num == 6 %}active" aria-current="page"{% else %}"{% endif %} href="/aboutus">About Us</a>
          </div>
        </div>
      </div>
    </nav> <!-- closes nav -->

    {% with messages = get_flashed_messages(with_categories=true) %} <!-- this is a python / flask while loop that will execute the code if the statement is true, here while there are messages sent by flash flask module with a category, to notify the user, it will execute the code below till it is not true or broken -->
      {% if messages %} <!-- this is a python / flask if statement will execute the code below if it is true, here it is checking if theres messages -->
        {% for category, message in messages %} <!-- this is a python / flask for loop that will execute the code -->
          {% if category == 'error' %} <!-- this if statement checks if the flash flask message has the category of error, and will execute the code below -->
            <div class="alert alert-danger alter-dismissable fade show" role="alert"> <!-- this div will create a slightly animated dismissable popup at the top of the screen with a red colour scheme to envoke a warning to the user -->
              {{ message }} <!-- The message content of the flash message, this uses two curly brackets instead of culy brackets and percent signs as that inserts the text instead of making a statement out of it -->
              <button type="button" class="btn-close float-end" data-bs-dismiss="alert" aria-label="Close"></button> <!-- This creates a small x button that will be used to dismiss the alert / message, float-end will float the icon left data-bs-dismiss will be used by the javascript to close the div within when clicked -->
            </div>
            {% else %} <!-- used to declare a else statment within the if statment by flask-->
            <div class="alert alert-success alter-dismissable fade show" role="alert"> <!-- this div will create a slightly animated dismissable popup at the top of the screen with a green colour scheme to envoke a notice to the user -->
              {{ message }} <!-- The message content of the flash message -->
              <button type="button" class="btn-close float-end" data-bs-dismiss="alert" aria-label="Close"></button> <!-- creates a small x button used to dismiss the alert / message, float-end will float the icon left data-bs-dismiss will be used by the javascript to close the div within when clicked -->
            </div>
          {% endif %} <!-- ends the if statement tree -->
        {% endfor %} <!-- tells flask to loop back and ends the for loop -->
      {% endif %} <!-- ends the if statement tree -->
    {% endwith %} <!-- ends with loop -->

    {% if cover_picture %} <!-- checks if the variable passed to this page via flask within views.py is true and if so execute / include the code below -->
      <div class="position-relative"> <!-- position-relative class applies the display:relative; style to this class, the margin style is used to accommodate fot the width of the sidebar and will only appear if the sidebar var is set above 1 -->
        <div class="position-absolute top-0 start-0 w-100"> <!-- position-absolute class sets the div's position to absolute so I can use pixel persice measurements to organize the div, here i use the classes top-0 and start-0 to set the y and x measurements to 0 with bootstrap, and w-100 sets the width to 100% -->
          {% block cover_picture %} <!-- Tells flask that the block to add content in has ended -->
          {% endblock %} <!-- Tells flask that the block to add content in has ended -->
        </div>
        <div class="position-absolute start-50 translate-middle px-2 bg-light" style="top:16rem; border-radius:3px"> <!-- position-absolute class sets the position to absolute start-50 sets the x measurement to 50% of the viewport's size in pixels, translate-middle gets half of the div's size and takes it off of start-50 to make the div in the center px-2 sets the padding of the div to 1rem * .5 bg-light justs sets the background-color and text-color to a light theme -->
          <h1 style="font-size:4vw;"><b>{% block cover_text %}{% endblock %}</b></h1> <!-- uses a h1 tag with the font-size style to change the font size to 4vw which resizes with the viewport, the <b></b> tags just make the text bold, if i used the fw-bold class here it would change the font to bootstraps perfered font which is ok but it didnt feel pronounced enough for me -->
        </div>
      </div>
    {% endif %} <!-- ends the if statement -->

    {% for sidebar_segment in range(sidebar_segments) %} <!-- Checks the variable sidebar_segments (editable in views.py), and repeats this code for the number inputted -->
      <div class="d-flex flex-column flex-shrink-0 top-{% if sidebar_segment == 1 %}50{% else %}0{% endif %}" style="position:fixed; width: 4rem; height: {% if sidebar_segments == 1 %}100{% else %}50{% endif %}%;"> <!-- sets the side navbar the if statement splitups the navabar into 2 if setted within view.py-->
        <ul class="nav nav-flush flex-column mb-auto text-center"> <!-- creates a column that centers elements like text -->
          <li class="nav-item"> <!-- creates a row with a list -->
            <a href="{{ sidebar_links[sidebar_segment] }}" class="nav-link position-absolute top-50 start-0 translate-middle-y" data-bs-placement="right"> <!-- sets the  -->
              {% if sidebar_segment == 0 %} <!--  -->
                <div class="rounded-2 p-2 bg-light">
                  {% block sidebar_icon1 %}
                  {% endblock %} <!-- Tells flask that the block to add content in has ended -->
                </div>
              {% elif sidebar_segment == 1 %}
                <div class="rounded-2 p-2 bg-light">
                  {% block sidebar_icon2 %}
                  {% endblock %} <!-- Tells flask that the block to add content in has ended -->
                </div>
              {% endif %}
            </a>
          </li ><!-- Ends the list item -->
        </ul> <!-- Ends the unordered list -->
      </div> <!-- Ends div -->
    {% endfor %} <!-- Tells flask that the for loop ends here -->

    <div style="{% if sidebar_segments >= 1 and not negate_sidebar %}margin-left:4rem;{% endif %} {% if cover_picture %}margin-top: 35rem;{% endif %}">
      {% block content %} <!-- Inserts content within the base html template with the same block name -->
      {% endblock %} <!-- Tells flask that the block to add content in has ended -->
    </div>

    {% if footer %} <!-- an if statement to check if the variable footer, passed by view.py, is true -->
      <div class="container ps-5"> <!-- creates a bootstrap conainer with the left padding of 1rem * 3 (3rem) -->
        <footer class="py-5"> <!-- the footer mostly justs acts like a div, the class py-5 sets the top and bottom padding to 1rem * 3 (3rem) -->
          <div class="row"> <!-- creats a bootstrap div row -->
            <div class="col-2"> <!-- col-2 sets the column to use 2 column spaces -->
              <h5>Sections</h5> <!-- h5 tag to add text within a heading 5 size -->
              <div class="nav flex-column"> <!-- nav justs changes the appearance of links slightly, flex-column makes the column display set to flex -->
                <div class="nav-item mb-2"><a href="/" class="nav-link p-0">Home</a></div> <!-- nav-item applies mostly aesthetic features to any text within -->
                <div class="nav-item mb-2"><a href="/articles/articles/1" class="nav-link p-0">Articles</a></div> <!-- mb-2 sets the bottom margin to 1rem * .5 (.5rem) -->
                <div class="nav-item mb-2"><a href="/events/events-gridview/1" class="nav-link p-0">Events</a></div> <!-- p-0 sets the padding to 0 -->
                <div class="nav-item mb-2"><a href="/volunteer/volunteer-gridview/1" class="nav-link p-0">Volunteer</a></div>
              </div>
            </div>

            <div class="col-2"> <!-- col-2 sets the column to use 2 column spaces -->
              <h5></h5> <!-- just creates a gap large enough like the previous column's header to just make it flush -->
              <div class="nav flex-column pt-4">
                <div class="nav-item mb-2"><a href="/support/support-home" class="nav-link p-0">Support</a></div>
                <div class="nav-item mb-2"><a href="/aboutus" class="nav-link p-0">About Us</a></div>
              </div>
            </div>

            <div class="col-6 offset-1"> <!-- col-6 sets the column width to 6 column spaces -->
              <h5>Subscribe to our newsletter</h5>
              <p>Sign up for the latest updates about new and exciting things from us.</p> <!-- paragraph text -->
              <div class="d-flex w-100 gap-2"> <!-- d-flex makes all children elements display set to flex, w-100 sets the width to 100%, and gap-2 sets the gap between elements within its div to 1rem * .5 (.5rem) -->
                <form method="POST"> <!-- denotes that the inputs and buttons within are a signular form, the method used to send information is POST denoted by method="POST" -->
                  <input type="hidden" name="form-name" value="email_subscription"> <!-- used to more easily check what form was filled in and posted -->
                  <input type="text" id="email" name="email" class="form-control mb-2" placeholder="Email Address" aria-label="Email Address"> <!-- a input for text, form-control is used to change the aesthetic of the appearance of inputs to a more modernized rounded appearance -->
                  <button type="submit" class="btn btn-primary">Subscribe</button> <!-- adds a button, the type "submit" will send the form's information via the form's method  -->
                </form> <!-- ends form -->
              </div>
            </div>
          </div>

          <div class="d-flex justify-content-between py-4 my-4 border-top">
            <p>&copy; 2022 Zillo, All rights reserved.</p> <!-- &copy; justs adds the copyright symbol to the paragraph like a normal character -->
            <div class="d-flex"> <!-- d-flex makes all children elements display set to flex -->
              <div class="ms-3"><a href="https://twitter.com/WirralCouncil"><svg width="24" height="24"><use xlink:href="#twitter"></svg></a></div> <!-- the href="#" should be changed to the appropriate social media link -->
              <div class="ms-3"><a href="https://www.instagram.com/wirralcouncil/"><svg width="24" height="24"><use xlink:href="#instagram"></svg></a></div> <!-- svg denotes a svg path will be inserted here with the approprate width and height -->
              <div class="ms-3"><a href="https://www.facebook.com/wirralcouncil"><svg width="24" height="24"><use xlink:href="#facebook"></svg></a></div> <!-- the use xlink:href="" is used to reference the previously denoted svg element at the top of the html file -->
            </div>
          </div>
        </footer>
      </div>
    {% endif %} <!-- ends if statement -->

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script> <!-- add the js script fot the flash message function -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script> <!-- add somemore js script fot the flash message function -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" 
    crossorigin="anonymous"></script> <!--Imports the bootstrap javascript for some of its elements to properly work-->

  </body> <!--End of the body-->
</html> <!--End of the html code-->