{% extends "base.html" %} <!-- uses base.html as a template to build the current page with the use of blocks -->
{% block title %}ZilloWirral | Homepage{% endblock %} <!-- Tells flask that the block to add content in has ended -->

{% block sidebar_icon1 %} <!-- will be inserted into the corrosponding same named block within base.html -->
    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="var(--2-clr)" class="bi bi-house-heart" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.707L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.646a.5.5 0 0 0 .708-.707L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5ZM13 7.207l-5-5-5 5V13.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7.207Zm-5-.225C9.664 5.309 13.825 8.236 8 12 2.175 8.236 6.336 5.309 8 6.982Z"/>
    </svg>
{% endblock %} <!-- Tells flask that the block to add content in has ended -->

{% block cover_picture %}
    <img src="\static\assets\placeholders\TEMP35_1.webp" alt="" class="card-img"/>
{% endblock %} <!-- Tells flask that the block to add content in has ended -->
<!-- image ratio == 3.5:1-->

{% block cover_text %}Welcome to Zillo!{% endblock %} <!-- Tells flask that the block to add content in has ended -->

{% block content %} <!-- Inserts content within the base html template with the same block name -->
    <div class="px-2 py-2" style="width:100%;">
        <div class="pb-5 lead fs-4"  style="margin: 0 10vw 0 10vw;">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
            sed do eiusmod tempor incididunt ut labore et dolore magna 
            aliqua. Cursus eget nunc scelerisque viverra mauris in 
            aliquam sem, ipsum dolor sit amet, consectetur adipiscing elit, 
            sed do eiusmod tempor incididunt ut labore et dolore magna 
            aliqua. Cursus eget nunc scelerisque viverra mauris in 
            aliquam sem. <u><a href="#">Learn more <span>&#8594;</span> </a></u>
        </div>
        <div class="pb-5 lead fs-4"  style="margin: 0 10vw 0 10vw;">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
            sed do eiusmod tempor incididunt ut labore et dolore magna 
            aliqua. Cursus eget nunc scelerisque viverra mauris in 
            aliquam sem, ipsum dolor sit amet, consectetur adipiscing elit, 
            sed do eiusmod tempor incididunt ut labore et dolore magna 
            aliqua. Cursus eget nunc scelerisque viverra mauris in 
            aliquam sem.
        </div>
    </div>
    <div class="my-5" style="width:100%;">

        <div class="mb-5 fs-1 fw-bold text-center">
            Read Our Latest Articles!
        </div>
        <br>
        <br>

        {% for article in articles %}
        <div class="row mb-5 g-3" style="width:100%;">
            <div class="col-lg text-center">
                <img src="\static\assets\article_covers\{{ article.id }}.webp" alt="Pooltable in dim lighting" class="mx-auto rounded" style="width:70%;"/>
            </div>
            <div class="col-lg">
                <div class="mx-auto" style="width:80%">
                    <div class="mb-3 fs-3 fw-bold" style="width:100%;">
                        {{ article.title }}
                    </div>
                    <div class="mb-4 lead fs-4">
                        {% if article.description != ''%}
                            {{ article.description }}
                        {% elif article.content | length > 250 %}
                            {{ article.content[0:249] + '...' }}
                        {% else %}
                            {{ article.content }}
                        {% endif %}
                    </div>
                    <div class="lead fs-5">
                        Published {{ article.datetime_posted }}
                    </div>
                    <div class="lead fs-5">
                        Created {{ article.datetime_created }}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        
    </div>
{% endblock %} <!-- Tells flask that the block to add content in has ended -->