{% extends "base.html" %}
{% block title %}ZilloWirral | 404!{% endblock %}


{% block cover_text %}About Zillo{% endblock %}

{% block content %}
<div class="container" style="width:100%;">
    <div class="m-5">
        <h1 class="fw-bold text-center" style="font-size:12vw;">404!</h1>
    </div>
    <div class="m-5">
        <p class="text-center lead">The page you're looking for could not be found!</p>
        <p class="text-center lead">Check if you've correctly entered the url from the addressbar.</p>
        <p class="text-center lead">Or click <a href="/">here</a> to go back to the homepage.</p>
    </div>
</div>
{% endblock %}